html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-weight: normal;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}
